# Dependency caches
node_modules*
packages*

# Compiled code
.o
.pyc
.class

# Build output directories
bin*
out*
target*

# Files generated at runtime
.log
.lock
.tmp

# Hidden system files
.DS_Store
Thumbs.db

# Personal IDE config files
.idea

# Environment
/Django/.env
/Django/*/.env
/Website/*/.env