* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: black;
    /*font-family: sans-serif;*/
    font-size: 2rem;
    height: 100vh;
    align-items: center;
    justify-content: center;
    display: flex;
}

h1 {
    color: white;
    text-align: center;
    justify-content: center;
}

#home {
    display: grid;
    gap: 2rem;
    grid-template-rows: minmax(6rem, auto) minmax(6rem, auto) minmax(6rem, auto);
    grid-template-columns: 1fr 1fr;
    grid-template-areas: "title title" "board board" "alpabet alpabet" "bot bot";
    width: 90vw;
    height: 90vh;
    max-width: 900px;
    margin: auto;
}

#title {
    grid-area: title;
    font-size: 4rem;
    text-align: center;
    letter-spacing: 0.6rem;
}

#board {
    font-size: 2.5rem;
    grid-area: board;
    letter-spacing: 0.4rem;
    display: grid;
    text-transform: uppercase;
    padding: 2rem;
    border-radius: 1rem;
    background-color: goldenrod;
}

#hanging {
    display: flex;
    padding: 1rem;
    border-radius: 1rem;
    min-height: 350px;
    background-color: burlywood;
}

#letters {
    display: flex;
    grid-area: alphabet;
    background-color: teal;
    flex-wrap: wrap;
    padding: 5rem;
    text-transform: uppercase;
    border-radius: 1rem;
}

#time {
    grid-area: bot;
    display: flex;
    border-radius: 1rem;
    padding: 0.5rem;
    font-size: 2.5rem;
    background-color: palevioletred;
    color: white;
}
